@font-face {
  font-family: "Muli";
  src: local("Muli"),
    url(./fonts/Mulish-VariableFont_wght.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Muli";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
button {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
